/* Général */
body{
    margin: 0; /* Supprime les marges par défaut */
    max-height: 100%; /* Limite la hauteur maximale */
}

/* En-tête */
header{
    background-color: black;
    color: white;
    display: flex; /* Alignement des éléments en ligne */
    padding: 20px; /* Espacement */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* Style pour le lien "Accueil" */
.acc{
    margin-left: 30px;
    text-decoration: none; /* Supprime le soulignement */
    color: white;
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
    font-weight: bold;
}
.acc:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Style pour le lien "Sommaire" */
.som{
    margin-left: 70px;
    text-decoration: none; /* Supprime le soulignement */
    color: white;
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
}
.som:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Images */
img{
    width: 100%;
}

.img_ep{
    display: flex;
}

/* Section principale du contenu */
.ensemble{
    display: flex;
}

.img_f1{
    display: flex;
}

/* Section haute à droite du site */
.haut{
    display: flex;
}

.moi_img{
    width: 265px;
}

/* Section gauche du site */
.gauche{
    width: 50%;
}

/* Section droite du site */
.droite{
    flex: 1; /* Permet à cet élément de prendre toute la place disponible dans le conteneur flexible. */ 
    width: 50%;
}

/* Section passions */
.passions{
    flex: 1; /* Permet à cet élément de prendre toute la place disponible dans le conteneur flexible. */ 
}

/* Style pour le titre principal */
h1{
    text-align: center; /* Centre le texte */
    font-family: fantasy;
    font-weight: 200; /* Texte en gras */
    background-color: #9cc2df
}

/* Paragraphes */
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    text-align: justify;
    margin-right: 20px;
}
/* Texte */
.me{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

/* Images SVG */
svg{
    margin-bottom: 10px;
    margin-left: 20px;
}

.petite{
    width: 180px;
    display: flex;
    margin-left: 10px;
}

/* Section basse du site */
.bas{
    display: flex;
    margin-left: 10px;
}