/* Général */
body{
    margin: 0; /* Supprime les marges par défaut */
    max-height: 100%; /* Limite la hauteur maximale */
    background-color: #F2F2F2; 

}

/* En-tête */
header{
    background-color: black; 
    color: white; 
    display: flex; /* Alignement des éléments en ligne */
    padding: 20px; /* Espacement */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px; 
}

/* Style pour le lien "Accueil" */
.acc{
    margin-left: 30px; 
    text-decoration: none; /* Supprime le soulignement */
    color: white; 
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
}
.acc:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Style pour le lien "Sommaire" */
.som{
    margin-left: 70px; 
    text-decoration: none; /* Supprime le soulignement */
    color: white; 
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
    font-weight: bold; 

}
.som:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Style pour le titre principal */
h1{
    text-align: center; /* Centre le texte */
    font-family: fantasy; 
    font-weight: 200; /* Texte en gras */
    background-color: #9cc2df 
}

/* Style pour chaque carte SAE */
.part{
    display: flex;
    flex-direction: column; /* Contenu organisé en colonne */
    justify-content: center; /* Centre le texte à l'intérieur */
    padding: 10px; 
    border: 1px solid grey; /* Bordure grise */
    width: 250px; /* Largeur */
    color: black;
    min-height: 265px; /* Hauteur minimale */
    text-align: center; /* Centre le texte */
    background-color: white;
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
}

/* Conteneur pour toutes les cartes SAE */
.carre {
    display: flex; 
    flex-wrap: wrap; /* Passe à la ligne si nécessaire */
    justify-content: center;
    align-items: center;
    gap: 16px; /* Espacement entre les cartes */
}

a{
    text-decoration: none;
}

.SAE{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style pour mes images SVG */
.train{
    width: 20%;
    justify-content: space-between;
    margin-left: 4%;
}

/* Style des compétences */
.competence {
    background-color: #09c; /* Couleur de fond pour les compétences */
    color: black; 
    padding: 5px; /* Espacement autour du texte */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centre le texte */
    height: 25px;
    border: 1px solid black;
    margin-top: 5px;
}

.numSAE{
    margin-top: 7px;
    margin-bottom: 25px;
    font-weight: bold;
}

.titre{
    margin-top: auto;
    margin-bottom: auto;
}