/* Général */
body{
    margin: 0; /* Supprime les marges par défaut */
    max-height: 100%; /* Limite la hauteur maximale */
    background-color: #f9f9f9;
}

/* En-tête */
header{
    background-color: black;
    color: white;
    display: flex; /* Alignement des éléments en ligne */
    padding: 20px; /* Espacement */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

/* Style pour le lien "Accueil" */
.acc{
    margin-left: 30px;
    text-decoration: none; /* Supprime le soulignement */
    color: white;
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
}
.acc:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Style pour le lien "Sommaire" */
.som{
    margin-left: 70px;
    text-decoration: none; /* Supprime le soulignement */
    color: white;
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
}
.som:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Texte SAE dans l'en-tête */
.sae{
    margin-left: 70px;
    text-decoration: none; /* Supprime le soulignement */
    color: white;
    padding-bottom: 2px; /* Espacement en bas pour l'effet de survol */
    border-bottom: 2px solid transparent; /* Bordure transparente pour effet au survol */
    font-weight: bold;
}
.sae:hover{
    border-color: white; /* Change la couleur de bordure au survol */
}

/* Titre principal */
h1{
    text-align: center; /* Centre le texte */
    font-family: fantasy;
    font-weight: 200; /* Texte en gras */
    background-color: #9cc2df
}

/* Paragraphes */
p{
    font-weight: normal;
}
 /* Listes */
ul{
    font-weight: normal;
}

/* Section compétences */
.compétences{
    max-width: 800px; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAE9AF;
    border: 2px solid #FFD54F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold;
}

/* Section description */
.description{
    max-width: 800px; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAE9AF;
    border: 2px solid #FFD54F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold;
}

/* Section AC */
.AC{
    max-width: 800px; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAE9AF;
    border: 2px solid #FFD54F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold;
}

/* Section ressources */
.ressources{
    max-width: 800px; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAE9AF;
    border: 2px solid #FFD54F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold;
}

/* Section semestres */
.semestre{
    max-width: 800px; /* Largeur maximale */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FAE9AF;
    border: 2px solid #FFD54F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
    border-radius: 5px; /* Coins arrondis */
    font-weight: bold;
}

/* Section pour les liens PDF */
.pdf{
    text-decoration: none; /* Supprime le soulignement */
    color: black;
}